.adoption-section {
  background-image: url(/Animal-Shelter/images/pet-adoption.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.adoption-section h1 {
  padding: 10px;
  width: 450px;
  border-radius: 10px;
  background: var(--bg-light-blue);
  position: absolute;
  top: 50%;
  left: 5px;
}

.adoption-section p {
  width: 450px;
  border-radius: 10px;
  background: var(--bg-light-blue);
  padding: 10px;
  position: absolute;
  top: 30%;
  right: 5px;
  font-size: 25px;
}

.checklist-section {
  height: 700px;
  background: radial-gradient(var(--bg-dark-green), var(--bg-light-green));
}

.checklist-section h2 {
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}

.checklist {
  width: 950px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
  border: 3px solid var(--green-border);
  border-radius: 10px;
}

.checkbox {
  margin-bottom: 15px;
  font-size: 20px;
}

@media (max-width: 975px) {
  .adoption-section {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .adoption-section h1 {
    margin-top: 100px;
  }

  .adoption-section h1,
  .adoption-section p {
    position: static;
    font-size: 20px;
    width: 350px;
  }

  .checklist {
    width: 700px;
  }
}

@media (max-width: 755px) {
  .checklist {
    width: 600px;
  }
}

@media (max-width: 620px) {
  .checklist-section {
    height: 1100px;
  }

  .checklist-section h2 {
    font-size: 30px;
  }

  .checklist {
    width: 400px;
  }
}
