.events-section {
  height: 780px;
  background-image: url(../../images/events.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.events-container h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 0;
  border-radius: 10px;
  text-align: center;
  background: var(--bg-light-green);
  width: 650px;
}

.events-container h2 {
  text-align: center;
  padding: 10px;
  background: var(--bg-light-green);
  border-radius: 10px;
  font-size: 30px;
  width: 650px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 700px;
}

.event-item {
  padding: 10px;
  background: var(--bg-light-green);
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px solid var(--green-border);
  height: 250px;
}

.item-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.event-item:hover .item-container {
  transform: rotateY(180deg);
}

.item-front,
.item-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.item-front {
  color: black;
}

.item-back {
  background: var(--bg-dark-green);
  border-radius: 10px;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
}

.item-front img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-front h3 {
  font-size: 24px;
  color: var(--text-green);
}

@media (max-width: 720px) {
  .events-section {
    height: 1350px;
  }

  .events-grid {
    align-items: center;
    width: 300px;
    margin: auto;
  }

  .events-container h1,
  .events-container h2 {
    font-size: 25px;
    width: 400px;
  }

  .events-container h1 {
    margin-top: 120px;
  }
}
