.gallery-section {
  padding-top: 85px;
  padding-left: 5px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px);
  grid-auto-rows: 70px;
  gap: 10px;
  grid-auto-flow: dense;
  background: var(--bg-light-green);
  z-index: 2;
}

.item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.item:hover img {
  transform: scale(1.1);
  filter: brightness(85%);
}

.tall {
  grid-column: span 5;
  grid-row: span 8;
}

.wide {
  grid-column: span 8;
  grid-row: span 5;
}

.big {
  grid-column: span 8;
  grid-row: span 8;
}

.square {
  grid-column: span 6;
  grid-row: span 6;
}

.item:last-child {
  grid-column: span 14;
  grid-row: span 6;
}

@media (max-width: 1300px) {
  .gallery-section {
    display: flex;
    flex-direction: column;
  }

  .tall,
  .wide,
  .big,
  .square,
  .item:last-child {
    width: 100%;
  }
}
