.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  background: var(--bg-dark-green);
  padding: 0 20px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  animation: logoRotate 3s linear infinite;
}

.logo h1 {
  color: var(--text-green);
}

nav ul {
  display: flex;
  gap: 40px;
}

.page {
  color: var(--text-green);
}

li a:hover {
  color: var(--text-green);
}

.contact-btn {
  padding: 10px;
  border-radius: 30px;
  background: var(--bg-light-green);
}

.contact-btn:hover {
  background: var(--bg-darker-green);
}

@media (max-width: 1045px) {
  .header-container {
    padding: 0;
  }

  .logo img {
    width: 60px;
  }
  .logo h1 {
    font-size: 20px;
  }

  nav ul {
    gap: 20px;
    font-size: 13px;
  }
  .contact-btn {
    font-size: 13px;
  }
}

@media (max-width: 850px) {
  .header-container {
    flex-direction: column;
    height: 110px;
  }
}

@keyframes logoRotate {
  to {
    transform: rotateY(360deg);
  }
}
